<p id="notice"><%= notice %></p>

<p>
  <h1><%= @user.username %></h1>
  has made <%= @user.ratings.count %> ratings and
  average of ratings is <%= @user.average_rating %>
  <br>
  favorite style is <%= if @user.favorite_style != '-'
                          @user.favorite_style.name
                        end%>
  <br>
  favorite brewery is <%= @user.favorite_brewery %>
</p>

<p>
  member of
  <% @user.beer_clubs.each do |club| %>
    <%= link_to club.name, beer_club_path(club) %>
  <% end %>
</p>

<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>

<%= link_to 'Back', users_path %>
<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
